@{
    ViewData["Title"] = "Home";
}

<div class="d-flex flex-column align-items-center">
    <h1 class="display-4 mt-4">Welcome to SVEA Garage</h1>
    <div class="list-group pt-5 landingpage-list">
        <a href="/ParkingLot/Create" class="list-group-item list-group-item-action list-group-item-primary mb-2"><img src="/images/icons8-parking-area-78.png" id="icon" />Park a vehicle</a>
        <a href="/Users/Index" class="list-group-item list-group-item-action list-group-item-primary mb-2"><img src="/images/icons8-user-80.png" id="icon" />Handle users</a>
        <a href="/ParkingLot/Index" class="list-group-item list-group-item-action list-group-item-primary mb-2"><img src="/images/icons8-garage-64.png" id="icon" />See the garage</a>
        <a href="/Vehicles/Index" class="list-group-item list-group-item-action list-group-item-primary mb-2"><img src="/images/icons8-bullet-list-64.png" id="icon" />Registered vehicles</a>
        <a href="/Vehicles/Statistics" class="list-group-item list-group-item-action list-group-item-primary"><img src="/images/icons8-chart-bars-64.png" id="icon" />Statistics</a>
    </div>
</div>