* {
    margin: 0;
    padding: 0;
}

:root {
    --color-dark-blue: #304D6D;
    --color-air-blue: #759EB8;
    --color-powder-blue: #B3C5D7;
    --color-columbia-blue: #C5D5EA;
    --color-alice-blue: #D8E1E9;
    --color-argentinian-blue: #63ADF2;
    --color-mid-blue: #2562ad;
}

html {
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

body {
    background-color: var(--color-alice-blue);
    margin-bottom: 60px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn {
    min-width: 7rem;
}

.btn-primary-blue {
    background-color: var(--color-argentinian-blue);
}

    .btn-primary-blue:hover {
        opacity: 0.8;
    }

.btn-secondary-blue {
    background-color: var(--color-air-blue);
}

    .btn-secondary-blue:hover {
        opacity: 0.8;
    }

.btn-mid-blue {
    background-color: var(--color-mid-blue);
    color: #FFF;
    transition: background-color 0.3s ease;
}

    .btn-mid-blue:hover {
        color: #FFF;
        opacity: 0.8;
    }

.btn-dark-blue {
    background-color: var(--color-dark-blue);
    color: #FFF;
    transition: background-color 0.3s ease;
}

    .btn-dark-blue:hover {
        color: #FFF;
        opacity: 0.8;
    }

#btn-txt-park {
    margin-bottom: 0rem !important;
}

.navbar {
    background-color: var(--color-powder-blue);
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#logo {
    max-height: 3.75rem;
    max-width: auto;
    padding-right: 1rem;
}

#icon {
    margin-right: 1rem;
    width: 2rem;
}

.landingpage-list {
    min-width: 16rem;
}

.form-group {
    padding: 0.25rem 0;
}

.list-group-item {
    background-color: var(--color-columbia-blue) !important;
}

.table-responsive {
    min-width: 22rem;
}

.border {
    background-color: var(--color-columbia-blue) !important;
    border-color: var(--color-dark-blue) !important;
    border-radius: 0.25px;
}

tbody:before {
    content: '';
    display: block;
    height: 10px;
}

.footer {
    background-color: var(--color-columbia-blue);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
