@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Create";
}

<h1>Park Vehicle</h1>
<hr />

<div class="container-fluid">

    <form asp-action="Create" method="post">        

        <table class="table">
            <thead>
                <tr>
                    <th class="px-6 py-4 text-left font-weight-bold">
                        Owner
                    </th>

                     <th class="px-6 py-4 text-left font-weight-bold">
                        Vehicle
                    </th
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationNumber)
                        </td>

                        <td>
                             <button type="submit" name="vehicleId" value="@item.Id" class="btn btn-primary">Park Vehicle</button>
                        </td> 
                    </tr>
                }
            </tbody>
        </table>

        @if (!Model.Any())
        {
            <p>All vehicles are already parked.</p>
        }
    </form>

</div>


<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

