@model VehicleViewModel

@{
    ViewData["Title"] = "Park";
}

<div class="container">

    <h1 class="display-4 text-center mt-4">Park a vehicle</h1>

    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="VehicleTypeId" class="control-label">Select Vehicle Type</label>
                    <select asp-for="VehicleTypeId" class="form-control" asp-items="ViewBag.VehicleTypes"></select>
                    <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <a asp-action="Create" asp-controller="VehicleType">Add New Vehicle Type</a>
                </div>

                <div class="form-group">
                    <label asp-for="UserId" class="control-label">Select User</label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RegistrationNumber" class="control-label">Registration Number</label>
                    <input asp-for="RegistrationNumber" class="form-control" />
                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="VehicleModel" class="control-label"></label>
                    <input asp-for="VehicleModel" class="form-control" />
                    <span asp-validation-for="VehicleModel" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NrOfWheels" class="control-label"></label>
                    <input asp-for="NrOfWheels" class="form-control" />
                    <span asp-validation-for="NrOfWheels" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div class="mt-2">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
