@model VehicleViewModel

@{
    ViewData["Title"] = "Edit Vehicle";
}

<div class="container">
    <h1 class="display-4 mt-4">Edit Vehicle</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="VehicleTypeId" class="control-label">Vehicle Type</label>
                    <select asp-for="VehicleTypeId" class="form-control" asp-items="ViewBag.VehicleTypes"></select>
                    <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label">User</label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegistrationNumber" class="control-label">Registration Number</label>
                    <input asp-for="RegistrationNumber" class="form-control" />
                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="VehicleModel" class="control-label"></label>
                    <input asp-for="VehicleModel" class="form-control" />
                    <span asp-validation-for="VehicleModel" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NrOfWheels" class="control-label"></label>
                    <input asp-for="NrOfWheels" class="form-control" />
                    <span asp-validation-for="NrOfWheels" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <input type="submit" value="Update" class="btn btn-primary-blue" /> |
                    <a asp-action="Index" class="btn btn-dark-blue">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
