
@{
    ViewData["Title"] = "Statistics";
}

<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4 mt-4">Statistics</h1>


    <div class="table-responsive pt-4">
        <table class="table border table-bordered table-sm">
            <thead>
                <tr>
                    <th>Vehicle Type</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kvp in ViewBag.vehicleTypeCount)
                {
                    <tr>
                        <td>@kvp.Key</td>
                        <td>@kvp.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex flex-column align-items-center mt-2 mb-2">
        <h5 class="mb-2 pt-2 fw-normal">Total Number of Wheels: @ViewBag.TotalWheels</h5>
        <h5 class="mb-2 pt-2 fw-normal">Total Revenue: @ViewBag.TotalRevenue</h5>
    </div>

    <a asp-action="Index" class="btn btn-dark-blue mt-3">Return Back</a>
</div>

