
@{
    ViewData["Title"] = "Statistics";
}

<div class="container d-flex flex-column align-items-center">
    <h1 class="display-4 text-center mt-4">Statistics</h1>

    <div class="row justify-content-center">
        <div class="table-responsive pt-4">
            <table class="table border table-bordered table-sm">
                <thead>
                    <tr>
                        <th class="p-1 ps-2">Vehicle Type</th>
                        <th class="p-1 ps-2">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kvp in ViewBag.vehicleTypeCount)
                    {
                        <tr>
                            <td class="p-1 ps-2">@kvp.Key</td>
                            <td class="p-1 ps-2">@kvp.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-column align-items-center mt-2 mb-2">
            <h5 class="mb-2 pt-2 fw-normal">Total Number of Wheels: @ViewBag.TotalWheels</h5>
            <h5 class="mb-2 pt-2 fw-normal">Total Revenue: @ViewBag.TotalRevenue SEK</h5>
        </div>
    </div>
</div>
